<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Properties>
        <Property name="defaultLogLevel">${env:DEFAULT_LOG_LEVEL:-INFO}</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:log-layout.json"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="${defaultLogLevel}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
